#home-height,
#skills-height,
#experience-height,
#about-height,
#stalk-height {
  height: 100vh;
}

#home-height {
  @media only screen and (max-width: 600px) {
    height: 450px;
  }
}

#skills-height {
  @media only screen and (max-width: 600px) {
    height: 350px;
  }
}

#project-height {
  @media only screen and (max-width: 600px) {
    margin-top: 400px;
  }
}
