#aventyr-project,
#jungle-kobenhavn,
#apperture-project,
#nalu,
#weather-tfl,
#tetris {
  height: 50vh;
  width: 35vw;
  object-fit: contain;
}

#aventyr-project,
#jungle-kobenhavn,
#apperture-project,
#nalu,
#weather-tfl,
#tetris {
  @media only screen and (max-width: 600px) {
    display: none;
  }
}
