$background-color: #323e47;
$font-family-main: "Neuton", serif;
$font-family-secondary: "Work Sans", sans-serif;
$font-family-third: "Libre Baskerville", serif;

main,
body {
  background-color: $background-color;
}
