$background-color: #323e47;
$font-family-main: 'Neuton', serif;
$font-family-secondary: 'Work Sans', sans-serif;
$font-family-third: 'Libre Baskerville', serif;

main,
body {
  background-color: $background-color;
}

#primary-menu-mobile
  > div.MuiPaper-root.MuiMenu-paper.MuiPopover-paper.MuiPaper-elevation8.MuiPaper-rounded
  > ul {
  background-color: #44535f;
}

@import './icons';
@import './navbar';
@import './project-images';
@import './about';
@import './height-pages';
@import './photo-hover';
@import './project-img';
